.navContainer {
    width: 125px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.navLink {
    font-size: 20px;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
}

.navLink:hover {
    color: var(--color-4);
    background-color: var(--color-1);
    animation: slide-out 0.3s;
    animation-fill-mode: forwards;
    transition: 0.3s;
}

@keyframes slide-out {
    from { 
        width: 125px; 
        padding-left: 10px;
    }
    to { 
        width: 135px;
        padding-left: 20px; 
    }
}

@media (max-device-width: 480px)
{
    .navContainer {
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}