.navContainer {
    background-color: var(--indigo-dye);
    height: 100%;
    width: 150px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.navLink {
    margin: 10px;
    font-size: 20px;
}

.navLink:hover {
    color: var(--peach-yellow);
    transition: 0.3s;
}