:root {
  --indigo-dye: #004777;
  --taupe-gray: #8C8A93;
  --safety-orange: #ff7700;
  --peach-yellow: #efd28d;
  --mountbatten-purple: #977390;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--peach-yellow);
  color: var(--indigo-dye);
}

body a{
  text-decoration: none;
  color: var(--safety-orange)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
